:root {
  --body-bg: #fff;
  --footer-bg: #eee;

  --bg-success: rgb(69, 173, 87);
  --bg-warning: rgb(252, 255, 62);
  --bg-danger: rgb(255, 62, 62);

  --text-color-primary: #000000;
  --text-color-primary-oppacity: rgba(68, 68, 68, 0.4);
  --text-color-secondary: #dd0000;
  --text-color-additional: #ffce00;
}
